<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backupFolderName</key>
	<string>iMovie ライブラリ</string>
	<key>libraryID</key>
	<string>BA111436-B094-4398-9F9A-8DA5F64558FD</string>
</dict>
</plist>
