<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FFSegmentStoreEncodedHeight</key>
	<integer>270</integer>
	<key>FFSegmentStoreEncodedWidth</key>
	<integer>486</integer>
	<key>FFSegmentStoreFieldOrder</key>
	<integer>-1</integer>
	<key>FFSegmentStoreFileFrameCount</key>
	<integer>1024</integer>
	<key>FFSegmentStoreFirstSample</key>
	<integer>0</integer>
	<key>FFSegmentStorePixelTransformArray</key>
	<array>
		<array>
			<real>0.22212065813528337</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>243</real>
			<real>0.0</real>
			<real>-0.22277227722772278</real>
			<real>0.0</real>
			<real>135</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>0.0</real>
			<real>1</real>
		</array>
	</array>
	<key>FFSegmentStoreRenderProps</key>
	<string>FFRenderPropsThumbnail</string>
	<key>FFSegmentStoreSegmentStoreMD5</key>
	<data>
	GqL+UKhjw5wK5TO3shcKuQ==
	</data>
	<key>FFSegmentStoreStoredFrameIndexes</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGHyBYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKUHCA8TGlUkbnVsbNMJCgsMDQ5cTlNSYW5nZUNvdW50ViRjbGFzc1tOU1Jhbmdl
	RGF0YRAOgASAAtIQChESV05TLmRhdGFPECl8ApEBAtIBAY0CAaECAaQCAfQCAvgCArQD
	A+wEA/MEAscFAZgGApwGAoAD0hQVFhdaJGNsYXNzbmFtZVgkY2xhc3Nlc11OU011dGFi
	bGVEYXRhoxYYGVZOU0RhdGFYTlNPYmplY3TSFBUbHF8QEU5TTXV0YWJsZUluZGV4U2V0
	ox0eGV8QEU5TTXV0YWJsZUluZGV4U2V0Wk5TSW5kZXhTZXRfEA9OU0tleWVkQXJjaGl2
	ZXLRISJUcm9vdIABAAgAEQAaACMALQAyADcAPQBDAEoAVwBeAGoAbABuAHAAdQB9AKkA
	qwCwALsAxADSANYA3QDmAOsA/wEDARcBIgE0ATcBPAAAAAAAAAIBAAAAAAAAACMAAAAA
	AAAAAAAAAAAAAAE+
	</data>
</dict>
</plist>
